.bg1 {
  position: absolute;
  width: 1048px;
  height: 1048px;
  left: -533px;
  top: -474px;
  z-index: 2;
  background: radial-gradient(50% 50% at 50% 50%, rgba(180, 197, 194, 0.83) 0%, rgba(224, 225, 225, 0) 100%);
}

.bg2 {
  position: absolute;
  width: 1582px;
  height: 1300px;
  right: -800px;
  top: 200px;
  z-index: 2;
  background: radial-gradient(50% 50% at 50% 50%, rgba(202, 169, 109, 0.49) 0%, rgba(196, 196, 196, 0) 100%);
}

@media(max-width:920px) {
  .bg2 {

    width: 800px;
    height: 700px;
    right: -400px;
    top: -60px;
  }
}